#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.page{
  display: flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar-orga{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  width:100%;
  height:75px;
  padding:15px;
}

.page_img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.image-link{
  margin:5px;
  width: 100px;
}

.txts{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txt-confi{
  height: 375px;
  width: 500px;
  margin: 15px;
  resize: none;
}

.imagebtn {
  height: 80px;
  width: 80px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.imagebtn:hover {
  transform: scale(0.9); /* Se hace un poco más pequeña al pasar el mouse */
}
.imagebtn:active {
  transform: scale(0.8); /* Más pequeña aún al hacer clic */
}

.btn-confi{
  width: 225px;
  height: 60px;
  margin: 10px;
  font-size:20px;
  font-style:inherit; 
}
.btn-confi:hover {
  transform: scale(0.95);
}

.btn-confi:active {
  transform: scale(0.9);
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
